.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.icon {
  width: 30px;
}

.main-header {
  text-align: center;
}

.sub-header {
  text-align: center;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.icons-container {
  display: flex;
  margin-bottom: 20px;
}
.button {
  border: none;
  padding: 15px;
  background-color: darkseagreen;
  color: white;
  font-weight: 600;
  margin: 10px;
  border-radius: 5px;
}
